/***GENERAL***/


/*GENERAL CONTROLS*/

html {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

header img {
  height: 125px;
}

footer {
  background-color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: -60px;
  border-top: grey solid 1px;
  color: #337ab7;
  font-weight: bold;
  font-size: 16px;
}


/*GENERAL IDs*/

#jumbotron {
  background-color: #eee;
}

#navbar {
  margin-bottom: 25px;
  background-color: #337ab7;
  font-size: 22px;
  padding: 10px 0 10px 20px;
}

#navbar a {
  color: white;
  margin: 0 15px;
}

#container{
  padding: 60px 15px 0;
}

/*GENERAL CLASSES*/

.pointer {
  cursor: pointer;
}


/***ENDS GENERAL***/


/**/


/***PAGES***/


/*LOGIN*/

#loginPage {
  /*margin: 100px 10px;*/
  /*background-image: url('../Images/background.png');*/
  background-color: lightgrey;
  height: 100%;
}

#loginSection{
  border: 1px solid black;
  background-color: white;
}

#loginSection img{
  height: 75px;
}

/*REGISTRATION*/


/***ENDS PAGES***/


/**/
