/* Controls
-------------------------------------------------- */
header img {
  height: 125px;
}


/* General classes
-------------------------------------------------- */
.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}
.pointer {
  cursor: pointer;
}
.margin{
  margin: 10px;
}

.teamMemberCard{
  height: 250px;
}
/* General ids
-------------------------------------------------- */
#jumbotron {
  background-color: #eee;
}
#navbar {
  background-color: #337ab7;
  font-size: 22px;
  margin-bottom: 0px;
}
#navbar ul{
  background-color: #337ab7;
}
#navbar a, #navbar p, #navbar li {
  color: white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 15px;
}

/* Login Page
-------------------------------------------------- */
#loginImg{
  height: 300px;
}







/* MEDIA QUERIES!!!!
-------------------------------------------------- */
@media only screen and (max-width: 500px) {
  .teamMemberCard{
    height: 150px;
  }
}
