#container {
  padding-left: 5em;
  padding-right: 5em;
}

#jumbotron{
  background-color: #eee;
}

#navbar {
  margin-bottom: 25px;
  background-color: #337ab7;
  font-size: 22px;
  padding: 10px 0 10px 20px;
}

#navbar a{
  color: white;
  margin: 0 15px;
}

.pointer{
  cursor: pointer;
}

header img{
  height: 125px;
}
