<!-- <button ui-sref="droplist.detail" class="btn btn-default pull-right">
  <i class="glyphicon glyphicon-plus"></i> New List
</button> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    Droplists
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Department">Department</label>
          <select id="Department" class="form-control" ng-options="department.departmentName for department in droplistGridCtrl.departments" ng-model="droplistGridCtrl.selectedDepartment" ng-change="droplistGridCtrl.filterSections()">
            <option value="" disabled selected>- Select department -</option>
            <option value="">- All departments -</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Section">Section</label>
          <select id="Section" class="form-control" ng-options="section.sectionName for section in droplistGridCtrl.departmentSections" ng-model="droplistGridCtrl.selectedSection" ng-change="droplistGridCtrl.filterDroplists()" ng-disabled="droplistGridCtrl.isSectionsDisabled">
              <option value="" disabled selected>- Select section -</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Status">Status</label>
          <select class="form-control" ng-change="droplistGridCtrl.filterDroplists()" ng-model="droplistGridCtrl.selectedStatus">
            <option value="" selected>All</option>
            <option value="">Completed</option>
            <option value="">Pending</option>
            <option value="">Canceled</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="From">From</label>
          <select class="form-control" ng-change="droplistGridCtrl.filterDroplists()" ng-model="droplistGridCtrl.selectedDate">
              <option value="" selected>Today</option>
              <option value="">Week</option>
            </select>
        </div>
      </div>
      <hr class="col-xs-12">
      <div class="col-xs-12" ng-show="droplistGridCtrl.filteredDroplists.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Department</th>
              <th>Section</th>
              <th>Created on</th>
              <th>By</th>
              <th>Driver</th>
              <th width="1%"></th>
              <th ng-hide="droplistGridCtrl.isDriver" width="1%"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="droplist in droplistGridCtrl.filteredDroplists">
              <td>{{$index+1}}</td>
              <td>{{droplist.droplistName}}</td>
              <td>{{droplist.departmentName}}</td>
              <td>{{droplist.sectionName}}</td>
              <td>{{droplist.createdOnDate | date:'short'}}</td>
              <td>{{droplist.stockerName}}</td>
              <td>{{droplist.driverName}}</td>
              <td>{{droplist.driverName}}</td>
              <td>
                <a ui-sref="app.droplist.detail({id: droplist.droplistId})" class="btn btn-default">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
              </td>
              <td ng-hide="droplistGridCtrl.isDriver">
                <a ng-click="droplistGridCtrl.remove(droplist)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer" style="text-align:right">
    Showing <span style="font-weight: bold">{{droplistGridCtrl.filteredDroplists.length}}</span> of <span style="font-weight: bold">{{droplistGridCtrl.droplists.length}}</span> droplists
  </div>
</div>
