<!-- <button ui-sref="droplist.detail" class="btn btn-default pull-right">
  <i class="glyphicon glyphicon-plus"></i> New List
</button> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    Available droplists
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Section">Department</label>
          <select class="form-control" ng-options="department.departmentName for department in droplistGridCtrl.departments" ng-model="droplistGridCtrl.selectedDepartment" ng-change="droplistGridCtrl.filterSections()">
            <option value="" disabled selected>- Select department -</option>
            <option value="">- All departments -</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="AisleNumber">Section</label>
          <select class="form-control" ng-options="section.sectionName for section in droplistGridCtrl.departmentSections" ng-model="droplistGridCtrl.selectedSection" ng-change="droplistGridCtrl.filterDroplists()" ng-disabled="droplistGridCtrl.isSectionsDisabled">
              <option value="" disabled selected>- Select section -</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Droplist Name</th>
              <th>Department</th>
              <th>Section</th>
              <th>Stocker</th>
              <th>Driver</th>
              <th width="1%"></th>
              <th width="1%"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="droplist in droplistGridCtrl.filteredDroplists">
              <td>{{$index+1}}</td>
              <td>{{droplist.droplistName}}</td>
              <td>{{droplist.departmentName}}</td>
              <td>{{droplist.sectionName}}</td>
              <td>{{droplist.stockerName}}</td>
              <td>{{droplist.driverName}}</td>
              <td>
                <a ui-sref="app.droplist.detail({id: droplist.droplistId})" class="btn btn-default">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
              </td>
              <td>
                <a ng-click="app.droplistGridCtrl.remove(droplist)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
