<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row" ng-hide="droplistDetailCtrl.isNew">
      <div class="col-xs-3">
        <label>List Name:</label> {{droplistDetailCtrl.title}}
      </div>
      <div class="col-xs-3">
      <label>Date:</label> {{droplistDetailCtrl.droplist.createdOnDate | date: 'shortDate'}}
      </div>
      <div class="col-xs-3">
        <label>Department:</label> {{droplistDetailCtrl.droplist.departmentName}}
      </div>
      <div class="col-xs-3">
        <!-- <label>Section:</label> {{droplistDetailCtrl.droplist.sectionName}} -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row" ng-show="droplistDetailCtrl.isNew">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="droplistName">Droplist Name</label>
          <input id="droplistName" type="text" class="form-control" ng-model="droplistDetailCtrl.droplist.droplistName">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Department">Date</label>
          <span id="Department" type="text" class="form-control" ng-readonly="true" ng-bind="droplistDetailCtrl.droplist.createdOnDate | date: 'shortDate' "/>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="Section">Department</label>
          <!-- <p>{{droplistDetailCtrl.droplist.departmentName}}</p> -->
          <select class="form-control" ng-options="department.departmentName for department in droplistDetailCtrl.departments" ng-model="droplistDetailCtrl.droplist.departmentName" ng-change="droplistDetailCtrl.filterSections()">
            <option value="" disabled selected>- Select department -</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="AisleNumber">Section</label>
          <select class="form-control" ng-options="section.sectionId as section.sectionName for section in droplistDetailCtrl.departmentSections" ng-model="droplistDetailCtrl.droplist.sectionId">
            <option value="" disabled selected>- Select section -</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Aisle</th>
              <th>Row</th>
              <th>Column</th>
              <th>Item Number - Description</th>
              <!-- <th>Description</th> -->
              <th>Quantity</th>
              <th ng-show="droplistDetailCtrl.isNew"></th>
              <th ng-show="droplistDetailCtrl.isDriver">Completed</th>
              <th ng-show="droplistDetailCtrl.isDriver">Rejected</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="droplistItem in droplistDetailCtrl.droplist.droplistItems">
              <td>{{$index+1}}</td>
              <td>
                <input ng-show="droplistDetailCtrl.isNew || droplistDetailCtrl.editable" type="number" class="form-control" ng-model="droplistItem.aisleNumber"></input>
                <p ng-show="!droplistDetailCtrl.editable && !droplistDetailCtrl.isNew">{{droplistItem.aisleNumber}}</p>
              </td>
              <td>
                <input ng-show="droplistDetailCtrl.isNew || droplistDetailCtrl.editable" type="text" class="form-control" ng-model="droplistItem.aisleRow"></input>
                <p ng-show="!droplistDetailCtrl.editable && !droplistDetailCtrl.isNew">{{droplistItem.aisleRow}}</p>
              </td>
              <td>
                <input ng-show="droplistDetailCtrl.isNew || droplistDetailCtrl.editable" type="number" class="form-control" ng-model="droplistItem.aisleColumn"></input>
                <p ng-show="!droplistDetailCtrl.editable && !droplistDetailCtrl.isNew">{{droplistItem.aisleColumn}}</p>
              </td>
              <td>

              <ui-select ng-show="droplistDetailCtrl.isNew || droplistDetailCtrl.editable" ng-model="droplistItem.productId" theme="bootstrap">
                    <ui-select-match placeholder="El Numero">
                        {{$select.selected.itemNumber}}-{{$select.selected.description}}
                    </ui-select-match>
                    <ui-select-choices repeat="product.productId as product in droplistDetailCtrl.products | filter: $select.search">
                        <div ng-bind-html="product.itemNumber + ' ' + product.description | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <p ng-show="!droplistDetailCtrl.editable && !droplistDetailCtrl.isNew">{{droplistItem.product.itemNumber}} - {{droplistItem.product.description}}</p>
              </td>
              <!-- <td>
                <input ng-readonly="true" ng-show="droplistDetailCtrl.isNew" type="text" class="form-control" ng-model="droplistItem.product.description"></input>
                <p ng-hide="droplistDetailCtrl.isNew">{{droplistItem.product.description}}</p>
              </td> -->
              <td>
                <input ng-show="droplistDetailCtrl.isNew || droplistDetailCtrl.editable" type="number" class="form-control" ng-model="droplistItem.quantity"></input>
                <p ng-show="!droplistDetailCtrl.editable && !droplistDetailCtrl.isNew">{{droplistItem.quantity}}</p>
              </td>
              <td ng-show="droplistDetailCtrl.isNew">
                <a ng-click="droplistDetailCtrl.remove(droplistItem)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
              <td ng-show="droplistDetailCtrl.isDriver">
                <a ng-click="droplistDetailCtrl.remove(droplistItem)" class="btn btn-success">
                  <i class="glyphicon glyphicon-thumbs-up"></i>
                </a>
              </td>
              <td ng-show="droplistDetailCtrl.isDriver">
                <a ng-click="droplistDetailCtrl.remove(droplistItem)" class="btn btn-danger">
                  <i class="glyphicon glyphicon-thumbs-down"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <button ng-show="droplistDetailCtrl.isNew" class="btn btn-success pull-right" ng-click="droplistDetailCtrl.addItem()">
            <i class="glyphicon glyphicon-plus"></i> Add Item
        </button>
        <button ng-show="!droplistDetailCtrl.isNew && !droplistDetailCtrl.isDriver" class="btn btn-success pull-right" ng-click="droplistDetailCtrl.editList()">
            <i class="glyphicon glyphicon-edit"></i> Edit List
        </button>
      </div>
    </div>
  </div>
  <div class="panel-footer clearfix" ng-show="droplistDetailCtrl.isNew">
    <button class="btn btn-success pull-left" ng-click="droplistDetailCtrl.save()">
    Save <i class="glyphicon glyphicon-save"></i>
  </button>
  </div>
</div>
