<form ng-submit="registerCtrl.registerEmployee()">
  <h3>Employee Registration</h3>
  <div class="form-group row">
    <!-- <div class="col-md-12">
      <label for="">Username:</label>
      <span class="form-control" ng-readonly="true" ng-model="registerCtrl.employee.employeeNumber" />
    </div> -->
    <div class="col-md-6">
      <label for="">First Name:</label>
      <input type="text" class="form-control" ng-model="registerCtrl.employee.firstName">
    </div>
    <div class="col-md-6">
      <label for="">Last Name:</label>
      <input type="text" class="form-control" ng-model="registerCtrl.employee.lastName">
    </div>
    <div class="col-md-6">
      <label for="">Employee Number:</label>
      <input type="number" class="form-control" ng-model="registerCtrl.employee.employeeNumber">
    </div>
    <div class="col-md-6">
      <label for="">Role:</label>
      <select class="form-control" ng-options="role for role in registerCtrl.roles" ng-model="registerCtrl.employee.selectedRole">
        <option value="" disabled selected> - Select Role - </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="">Email:</label>
      <input type="email" class="form-control" ng-model="registerCtrl.employee.emailAddress">
    </div>
    <div class="col-md-6">
      <label for="">Phone #:</label>
      <input type="text" class="form-control" ng-model="registerCtrl.employee.cellphone">
    </div>

    <!-- <h3>Login Information</h3> -->
    <div class="col-md-6">
      <label for="">Password:</label>
      <input type="password" class="form-control" ng-model="registerCtrl.employee.password">
    </div>
    <div class="col-md-6">
      <label for="">Confirm Password:</label>
      <input type="password" class="form-control" ng-model="registerCtrl.employee.confirmPassword">
    </div>
    <div class="col-md-12">
      <button class="btn btn-primary pull-right" type="submit">Register</button>
    </div>
</form>
