<form class="form-horizontal" ng-submit="loginCtrl.login">
    <div class="form-group">
        <label for="employeeNumberId">Employee Number</label>
        <input id="employeeNumberId" type="text" class="form-control" ng-model="loginCtrl.employeeNumber">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" ng-model="loginCtrl.password">
    </div>
    <button class="btn btn-primary" ng-click="loginCtrl.login()">Login</button>
</form>
