<div class="col-md-12" id="loginPage">
  <div class="col-md-6">
    <img id="loginImg" src="Images/card.png" alt="" class="pull-right">
  </div>
  <div class="col-md-5" id="loginSection">
    <form class="form-horizontal" ng-submit="loginCtrl.login">
      <div class="form-group">
        <h2>Sign in</h2>
        <h4>to continue to DROPCO</h4>
        <br>
      </div>
      <div class="form-group">
        <label for="employeeNumberId">Employee Number</label>
        <input id="employeeNumberId" type="text" class="form-control" ng-model="loginCtrl.employeeNumber">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" ng-model="loginCtrl.password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary pull-right" ng-click="loginCtrl.login()">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>
