<div class="col-md-12 animated fadeIn" id="loginPage" ng-hide="loginCtrl.loading">
  <div class="col-md-6">
    <img id="loginImg" src="Images/card.png" alt="" class="pull-right animated flip">
  </div>
  <div class="col-md-5" id="loginSection">
    <form class="form-horizontal" ng-submit="loginCtrl.login">
      <div class="form-group">
        <h2>Sign in</h2>
        <!-- <h4>to continue to DROPCO</h4> -->
        <h6 class="pull-right"><a href="#">Forgot password?</a></h6>
        <br>
      </div>
      <div class="form-group">
        <label for="employeeNumberId">Employee Number</label>
        <input id="employeeNumberId" type="text" class="form-control" ng-model="loginCtrl.employeeNumber">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" ng-model="loginCtrl.password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary pull-right" ng-click="loginCtrl.login()">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="col-md-5"></div>
<div class="col-md-2 center" ng-show="loginCtrl.loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
<div class="col-md-5"></div>
